.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 26px;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  margin-bottom: 20px;
}

.contacts__text {
  margin: 0;
  padding: 0;
  line-height: 24px;
  width: 270px;
  margin-bottom: 35px;
}

.contacts__text br {
  display: none;
}

.contacts__button {
  width: 280px;
  margin-bottom: 49px;
}

.contacts__map {
  position: relative;
  margin-bottom: 28px;
}

.contacts__map-marker {
  position: absolute;
  top: 160px;
  left: 145px;
  opacity: 0.8;
}


@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
  }

  .contacts__title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contacts__text {
    width: 450px;
    margin-bottom: 42px;
  }

  .contacts__text br {
    display: inline-block;
  }

  .contacts__button {
    width: 460px;
    margin-bottom: 57px;
  }

  .contacts__map {
    margin-bottom: -6px;
  }

  .contacts__map-marker {
    top: 164px;
    left: 370px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-width;
  }

  .contacts__text {
    margin-bottom: 48px;
  }

  .contacts__button {
    margin-bottom: 65px;
  }

  .contacts__map-marker {
    top: 162px;
    left: 586px;
  }
}
