.copyright {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.copyright__text {
  margin: 0;
  padding: 0;
  padding-left: 3px;
  margin-top: 5px;
  margin-right: 8px;
}

.copyright__icon {
  margin-top: 0px;
  fill: #000000;

  &:hover,
  &:focus {
    fill: $blue;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    margin-top: 11px;
    margin-right: 5px;
  }

  .copyright__link {
    padding-top: 7px;
  }
}
