.main-nav {
  width: 100%;
  position: relative;
  background-color: $blue;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  text-align: center;
}

.main-nav__item {
  display: flex;
  background-color: $blue;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;
  }
}

.main-nav__link {
  font-size: 18px;
  line-height: 40px;
  padding-top: 6px;
  padding-bottom: 5px;
  width: 100%;
  min-height: 43px;
  color: white;
  font-weight: bold;

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: white;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: flex-start;
  }

  .main-nav__item {
    background-color: white;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background-color: white;
    }

    &:first-child {
      margin-left: 50px;
      margin-right: 75px;
    }

    &:nth-child(2) {
      margin-right: 210px;
    }

    &:nth-child(3) {
      margin-right: 50px;
    }
  }

  .main-nav__link {
    font-size: 14px;
    line-height: 26px;
    padding-top: 13px;
    padding-bottom: 5px;
    width: 100%;
    min-height: 37px;
    color: black;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $blue;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__link--active {
    color: #766357;

    &:hover,
    &:focus {
      color: #604e43;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    &:first-child {
      margin-left: 90px;
      margin-right: 162px;
    }

    &:nth-child(2) {
      margin-right: 383px;
    }

    &:nth-child(3) {
      margin-right: 137px;
    }
  }
}
