.radio {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  align-items: flex-start;
  padding-bottom: 10px;
}

.radio__label {
  display: block;
  position: relative;
  padding-left: 77px;
  padding-top: 15px;
  cursor: pointer;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  user-select: none;
}

.radio__input {
  position: absolute;
  opacity: 0;
}

.radio__checkmark {
  position: absolute;
  top: 2px;
  left: 1px;
  height: 56px;
  width: 56px;
  background-color: $grey;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio__label:hover .radio__input ~ .radio__checkmark {
  background-color: $grey-hover;
}

/* When the checkbox is checked, add a blue background */
.radio__label .radio__input:checked ~ .radio__checkmark {
  background-color: $grey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.radio__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radio__label .radio__input:checked ~ .radio__checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.radio__label .radio__checkmark::after {
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #333333;
}

@media (min-width: $tablet-width) {
  .radio {
    width: 100%;
    padding-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .radio {
    width: 100%;
  }
}
