.text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  outline: 1px solid yellow;
}

.text--title {
  font-size: 18px;
  font-weight: bold;
}
