.advantages {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
}

.advantages__item--grey {
  background-color: $grey;
}

.advantages__town {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    url("../img/bg-triangle.svg") no-repeat -5px 0px;
    background-color: $blue;
    background-size: 330px;
  padding-top: 78px;
  padding-bottom: 20px;
}

.advantages__town-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: white;
  margin-bottom: 7px;
}

.advantages__town-text {
  margin: 0;
  padding: 0;
  color: white;
  width: 280px;
  line-height: 21px;
  margin-bottom: 18px;
}

.advantages__photo {
  width: 320px;
  height: auto;
}

.advantages__bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  padding-top: 40px;
  padding-bottom: 23px;
}

.advantages__bridge-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.advantages__bridge-text {
  margin: 0;
  padding: 0;
  line-height: 21px;
  color: white;
  width: 280px;
  margin-bottom: 15px;
}

.advantages__grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  padding-top: 28px;
  padding-bottom: 11px;
}

.advantages__grey--borders {
  width: 280px;
  align-self: center;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.advantages__grey-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-bottom: 10px;
}

.advantages__grey-text {
  margin: 0;
  padding: 0;
  line-height: 21px;
  width: 250px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: $tablet-width;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__town {
    width: 256px;
    padding-top: 46px;
    background-image: none;
  }

  .advantages__town-title {
    width: 140px;
    font-size: 21px;
    margin-bottom: 10px;
  }

  .advantages__town-text {
    width: 170px;
    margin-bottom: 21px;
  }

  .advantages__photo {
    width: 512px;
    height: auto;
  }

  .advantages__bridge {
    order: 2;
    width: 256px;
    padding-top: 45px;
  }

  .advantages__bridge-title {
    width: 151px;
    font-size: 21px;
  }

  .advantages__bridge-text {
    width: 170px;
    margin-bottom: 22px;
  }

  .advantages__grey {
    width: 256px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .advantages__grey-title {
    width: 135px;
    font-size: 21px;
  }

  .advantages__grey-text {
    width: 165px;
    line-height: 21px;
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: $desktop-width;
  }

  .advantages__town {
    width: 400px;
    padding-top: 55px;
  }

  .advantages__town-title {
    width: 160px;
  }

  .advantages__town-text {
    width: 275px;
  }

  .advantages__photo {
    width: 800px;
    height: auto;
  }

  .advantages__bridge {
    order: 2;
    width: 400px;
    padding-top: 55px;
  }

  .advantages__bridge-title {
    width: 151px;
  }

  .advantages__bridge-text {
    width: 230px;
  }

  .advantages__grey {
    width: 400px;
    padding-top: 43px;
    padding-bottom: 40px;
    border: none;
  }

  .advantages__grey-title {
    width: 135px;

  }

  .advantages__grey-text {
    width: 280px;
  }
}
