.advantages {
  width: 320px;
  margin: 0 auto;
  position: relative;
  outline: 1px solid green;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
}

.advantages__town {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  min-height: 210px;
  outline: 1px solid yellow;
  background-image: url("../img/bg-triangle.svg") no-repeat;
}

.advantages__town-title {
  margin: 0;
  padding: 0;
  color: white;
  margin-top: 57px;
  margin-bottom: 8px;
}

.advantages__town-text {
  margin: 0;
  padding: 0;
  color: white;
  width: 270px;
  margin-bottom: 8px;
}

.advantages__photo {
  width: 320px;
  height: auto;
}

.advantages__bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 190px;
  background-color: $blue;
  outline: 1px solid yellow;
}

.advantages__bridge-title {
  margin: 0;
  padding: 0;
  line-height: 26px;
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
}

.advantages__bridge-text {
  margin: 0;
  padding: 0;
  line-height: 21px;
  color: white;
  width: 270px;
  margin-bottom: 15px;
}

.advantages__grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 168px;
  background-color: $grey;
}

.advantages__grey-title {
  margin: 0;
  padding: 0;
  line-height: 26px;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantages__grey-text {
  margin: 0;
  padding: 0;
  line-height: 21px;
  width: 250px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__town {
    width: 256px;
  }

  .advantages__town-title {
    width: 140px;
  }

  .advantages__town-text {
    width: 170px;
  }

  .advantages__photo {
    width: 512px;
    height: auto;
  }

  .advantages__bridge {
    order: 2;
    width: 256px;
    min-height: 210px;
  }

  .advantages__bridge-title {
    width: 140px;
  }

  .advantages__bridge-text {
    width: 170px;
  }

  .advantages__grey {
    width: 256px;
    min-height: 256px;
  }

  .advantages__grey-title {
    width: 135px;
  }

  .advantages__grey-text {
    width: 165px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1200px;
  }

  .advantages__town {
    width: 400px;
    min-height: 260px;
  }

  .advantages__town-title {
    width: 160px;
  }

  .advantages__town-text {
    width: 275px;
  }

  .advantages__photo {
    width: 800px;
    height: auto;
  }

  .advantages__bridge {
    order: 2;
    width: 400px;
    min-height: 260px;
  }

  .advantages__bridge-title {
    width: 160px;
  }

  .advantages__bridge-text {
    width: 230px;
  }

  .advantages__grey {
    width: 400px;
  }

  .advantages__grey-title {
    width: 135px;
  }

  .advantages__grey-text {
    width: 300px;
  }
}
