.advantages {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  position: relative;
  outline: 1px solid green;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.advantages__town {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $blue;
  min-height: 210px;
  outline: 1px solid yellow;
  background-image: url("../img/bg-triangle.svg") no-repeat;
}

.advantages__town-title {
  margin: 0;
  padding: 0;
  color: white;
  margin-top: 57px;
  margin-bottom: 8px;
}

.advantages__town-text {
  margin: 0;
  padding: 0;
  color: white;
  max-width: 270px;
  margin-bottom: 8px;
}

.advantages__photo {
  width: 320px;
  height: auto;
}

.advantages__bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 190px;
  background-color: $blue;
  outline: 1px solid yellow;
}

.advantages__bridge-title {
  margin: 0;
  padding: 0;
  line-height: 26px;
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
}

.advantages__bridge-text {
  margin: 0;
  padding: 0;
  line-height: 21px;
  color: white;
  max-width: 270px;
  margin-bottom: 15px;
}

.advantages__grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 168px;
  background-color: $grey;
}

.advantages__grey-title {
  margin: 0;
  padding: 0;
  line-height: 26px;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantages__grey-text {
  margin: 0;
  padding: 0;
  line-height: 21px;
  max-width: 250px;
  margin-bottom: 15px;
}
