.button {
  display: flex;
  justify-content: space-around;
  background-color: $blue;
  border: none;

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;
  }
}

.button__link {
  height: 45px;
  padding-top: 15px;
  font-size: 21px;
  text-align: center;
  color: white;
  font-weight: bold;

  &:active {
    opacity: 0.3;
  }
}
