.button {
  display: block;
  height: 45px;
  padding-top: 15px;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: $blue;
}

.button:hover,
.button:focus {
  background-color: $blue-hover;
}

.button:active {
  background-color: $blue-down;
  opacity: 0.3;
}
