.checkbox {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  align-items: flex-start;
}

.checkbox__label {
  display: block;
  position: relative;
  padding-left: 80px;
  padding-top: 8px;
  margin-bottom: 28px;
  cursor: pointer;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox__checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 56px;
  width: 56px;
  border-radius: 4px;
  background-color: $grey;
}

/* On mouse-over, add a grey background color */
.checkbox__label:hover .checkbox__input ~ .checkbox__checkmark {
  background-color: $grey-hover;
}

/* When the checkbox is checked, add a blue background */
.checkbox__label .checkbox__input:checked ~ .checkbox__checkmark {
  background-color: $grey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox__label .checkbox__input:checked ~ .checkbox__checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox__label .checkbox__checkmark::after {
  left: 22px;
  top: 13px;
  width: 10px;
  height: 20px;
  border: solid #333333;
  border-width: 0 4px 4px 0;
  transform: rotate(50deg);
}

@media (min-width: $tablet-width) {
  .checkbox {
    width: 50%;
  }

  .checkbox__label {
    padding-top: 13px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    width: 25%;
  }
}
