.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 26px;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  margin-bottom: 20px;
}

.contacts__text {
  margin: 0;
  padding: 0;
  line-height: 24px;
  width: 270px;
  margin-bottom: 33px;
}

.contacts__button {
  width: 280px;
  margin-bottom: 49px;
}

.contacts__map {
  width: 320px;
  height: auto;
  margin-bottom: 35px;
  background: url("../img/icon-map-marker.svg") no-repeat 10px 20px;
  background-size:
    33px,
    cover;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
  }

  .contacts__title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contacts__text {
    width: 450px;
    margin-bottom: 40px;
  }

  .contacts__button {
    width: 460px;
    margin-bottom: 60px;
  }

  .contacts__map {
    width: $tablet-width;
    height: 350px; /* временно */
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-width;
  }

  .contacts__text {
    margin-bottom: 48px;
  }

  .contacts__button {
    margin-bottom: 65px;
  }

  .contacts__map {
    width: $desktop-width;
  }
}
