.feedback-form {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid red;
}

.feedback-form__body {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  outline: 1px solid green;
}

.feedback-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  outline: 1px solid blue;
  border: none;
}

.feedback-form__legend {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  line-height: 26px;
  width: 290px;
  border-top: 1px solid $grey;
  outline: 1px solid blue;
}

.feedback-form__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  outline: 3px solid yellow;
}

.feedback-form__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 20px;
  outline: 5px solid orange;
}

.feedback-form__label {
  width: 100%;
  outline: 10px solid purple;
}

.feedback-form__input {
  flex-grow: 1;
  height: 60px;
  width: 180px;
  background-color: $grey;
  border: none;
  padding-left: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  outline: 5px solid red;
}

.feedback-form__input:hover {
  background-color: $grey-hover;
}

.feedback-form__input:focus {
  background-color: white;
  outline: 4px solid $grey;
}

.feedback-form__input::placeholder {
  color: black;
}

.feedback-form__phone {
  width: 60px;
  height: 60px;
  background-color: $grey-hover;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-form__mail {
  width: 60px;
  height: 60px;
  background-color: $grey-hover;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-form__textarea {
  padding: 20px;
  width: 240px;
  min-height: 160px;
  border: none;
  background-color: $grey;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 50px;
}

.feedback-form__textarea::placeholder {
  color: black;
}

.feedback-form__textarea:hover {
  background-color: $grey-hover;
}

.feedback-form__textarea:focus {
  background-color: white;
  outline: 4px solid $grey;
}

.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  width: 280px;
  margin: 0 auto;
}

.feedback-form__button:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    width: $tablet-width;
  }

  .feedback-form__body {
    width: 648px;
  }

  .feedback-form__fieldset {
    width: 100%;
  }

  .feedback-form__fieldset:first-child {
    width: 324px;
    margin-left: 324px;
  }

  .feedback-form__fieldset:nth-child(3) {
    width: 324px;
    position: absolute;
  }

  .feedback-form__fieldset:nth-child(4) .feedback-form__list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    outline: 1px solid orange;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    width: $desktop-width;
  }

  .feedback-form__body {
    width: 960px;
  }

  .feedback-form__fieldset:first-child {
    width: 400px;
    margin-left: 560px;
  }
}
