.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  outline: 1px solid yellow;
}

.intro__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-image: url("../img/bg-back-mobile@1x.jpg");
  margin-bottom: 45px;
}

.intro__content-image {
  margin-top: 90px;
  margin-bottom: 60px;
}
