.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  min-height: 280px;
  margin: 0 auto;
  position: relative;
  outline: 1px solid red;
}

.page-header__logo {
  position: absolute;
  left: 110px;
  top: 223px;
}
