.social {

}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.social__item {
  width: 50px;
  height: 50px;
  background-color: $blue;

}

.social__link {
  display: block;
  margin-top: 14px;
}

.social__link--twitter {

}

.social__link--facebook {

}

.social__link--youtube {

}

