.social {

}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $blue;
}

.social__item:hover,
.social__item:focus {
  background-color: $blue-hover;
}

.social__item:active {
  background-color: $blue-down;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
  outline: 1px solid green;
}

.social__link--twitter {

}

.social__link--facebook {

}

.social__link--youtube {

}
