.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.video__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $grey;
}

.video__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  width: 250px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.video__text {
  margin: 0;
  padding: 0;
  line-height: 24px;
  width: 250px;
  margin-bottom: 35px;
}

.video__player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 132px;
}

.video__image {
  width: 320px;
  height: auto;
}

.video__track {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 155px;
  background-color: $grey;
  width: 280px;
  opacity: 0.6;
}

.video__track-progress {
  position: relative;
  width: 280px;
  height: 45px;
  background-color: black;
  border: none;

  &::before {
    position: absolute;
    content: "";
    width: 240px;
    height: 3px;
    top: 22px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 19px;
    left: 58px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}


.video__track-button {
  height: 66px;
  border: none;
  background-color: $grey;
  fill: #5c6870;

  &:hover,
  &:focus {
    fill: #333333;
  }

  &:active {
    fill: #333333;
    opacity: 0.3;
  }
}

.video__track-button--replay {
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 100px;
}

.video__track-button--subtitles {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.video__track-button--fullscreen {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: $tablet-width) {
  .video {
    width: 648px;
  }

  .video__content {
    padding-bottom: 40px;
  }

  .video__title {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 370px;
  }

  .video__text {
    width: 430px;
  }

  .video__player {
    margin-bottom: 33px;
  }

  .video__image {
    width: 648px;
    height: 500px;
  }

  .video__track {
    flex-direction: row;
    top: 405px;
    background-color: black;
    width: 648px;
    height: 95px;
  }

  .video__track-progress {
    order: 2;
    height: 90px;
    width: 395px;
    margin-right: 32px;

    &::before {
      position: absolute;
      content: "";
      width: 390px;
      height: 3px;
      top: 45px;
      left: 7px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    &::after {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      top: 42px;
      left: 120px;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .video__track-button {
    height: 90px;
    background-color: #000000;
    fill: #ffffff;
  }

  .video__track-button--replay {
    order: 1;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
  }

  .video__track-button--subtitles {
    order: 3;
  }

  .video__track-button--fullscreen {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
    padding-top: 3px;
  }

  .video__content {
    padding-bottom: 35px;
    border: none;
  }

  .video__player {
    width: 800px;
    margin-bottom: 77px;
  }

  .video__image {
    width: 800px;
    height: 500px;
  }

  .video__track {
    top: 408px;
    width: 800px;
    height: 93px;
  }

  .video__track-progress {
    width: 545px;
    margin-right: 32px;

    &::before {
      position: absolute;
      content: "";
      width: 540px;
      height: 3px;
      top: 45px;
      left: 7px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    &::after {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      top: 42px;
      left: 120px;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
